/Temp
/Library/metadata
/Library/ShaderCache
/Library/*.log
/Library/ScriptAssemblies
/Library/assetDatabase3
/Library/ShaderCache.db
/Library/CrashedAssetImports.txt
/Library/ScriptMapper
/Library/AssetServerCacheV3
/Library/guidmapper
/Library/AssetImportState
/Library/AssetVersioning.db

*.csproj
*.sln

/*.userprefs

.DS_Store
